@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 800px;
  margin: auto;
  overflow: auto;
  padding: 20px;
}

.bg-red-500 {
  --color: red;
  background-color: var(--color);
  border-color: var(--color);
}
.bg-blue-500 {
  --color: blue;
  background-color: var(--color);
  border-color: var(--color);
}
.bg-green-500 {
  --color: green;
  background-color: var(--color);
  border-color: var(--color);
}
/* .grid{
  grid-template-columns: auto;
  transition: 2s;
  grid-template-rows: auto auto auto;
}
.uniqueGrid{
  grid-template-columns: auto auto;
  grid-template-areas: auto auto;
}
.uniqueGrid > div:first-child{
outline: 5px solid cyan;
grid-column: 1/3;
} */
.flex * {
  transition: all 2s;
}
.flex {
  display: flex;
  margin: auto;
  flex-direction: column;
  transition: all 2s;
}

.flex > div {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  transition: all 100ms;
}
.flex:not(.uniqueGrid) > div {
  /* transition: all 500ms; */
  height: 150px;
}
.uniqueGrid {
  transition: all 2s;
  animation: changeFlex 500ms linear forwards;
}
@keyframes changeFlex {
  from {
    flex-direction: column;
  }
  to {
    flex-direction: row;
  }
}

.uniqueGrid > div:first-child {
  animation: delay 500ms linear forwards;
}
@keyframes delay {
  from {
    transform: translateY(100%);
  }
  to {
    max-width: 620px;
    transform: translateY(0%);
  }
}
.uniqueGrid > div {
  height: 150px;
}
.uniqueGrid > div {
  transition-duration: 10ms;
}
@media (max-width: 650px) {
  .flex > div {
    max-width: 140px;
    min-width: 140px;
  }
  .flex:not(.uniqueGrid) > div {
    max-width: 300px;
    min-width: 300px;
  }
}
.flex:not(.uniqueGrid, .noshrink) > div:first-child {
  animation: shrink 500ms linear forwards;
}

.flex:not(.uniqueGrid, .noshrink) {
  animation: changeFlexReverse 500ms linear forwards;
}
@keyframes shrink {
  from {
    max-width: 600px;
  }
  to {
    max-width: 300px;
  }
}
@keyframes changeFlexReverse {
  from {
    flex-direction: row;
  }
  to {
    flex-direction: column;
  }
}
